# Explore Raw qPCR Data

Script to explore raw qPCR data extracted from SDSv2.4.1 software

Author: Juvid Aryaman

Date: 09/04/18

In [1]:
import pandas as pd

In [8]:
pd.read_csv?

In [9]:
d = pd.read_csv('10-3-17.txt',skiprows=1,index_col=False, delimiter='\t') # data extracted from SDSv2.4.1 (Windows)

In [10]:
len(d)

135

In [11]:
d.head()

,Well Nb,Reporter,Rn,1,2,3,4,5,6,7,...,36.1,37.1,38.1,39.1,40.1,41.1,42.1,43.1,44.1,45.1
0,1,BJmmMUP,NaN,112.40454,112.801740,114.18913,114.243866,114.132935,114.92890,115.920410,...,229.46020,230.367680,232.383670,231.88568,233.91666,233.56757,234.24258,235.38489,235.69635,237.54620
1,2,BJmmMUP,NaN,112.32478,113.121826,114.06854,114.058210,114.457380,115.20325,115.562965,...,231.69847,232.955430,233.430040,234.82362,235.83067,236.32652,237.30360,237.95287,238.15495,239.24830
2,3,BJmmMUP,NaN,116.14476,116.708600,117.62972,118.381260,118.339770,119.13867,119.804726,...,240.97644,242.385100,244.027310,243.94257,245.13070,245.69452,246.89075,247.45758,249.29565,249.29083
3,13,BJmmMUP,NaN,121.62935,121.333220,122.21579,122.483830,122.715680,123.19760,123.390150,...,72.30327,98.126710,122.708410,142.54895,156.82874,166.96940,173.86862,178.82143,181.34155,184.54863
4,14,BJmmMUP,NaN,131.28366,130.744480,132.16678,132.395230,132.329800,133.22170,133.629320,...,62.31851,89.178246,115.108406,136.09244,151.86047,161.82341,170.15282,176.60817,180.70409,186.21228

In [21]:
bkg_crr_cols = []
for c in d.columns:
    if '.' in c:
        bkg_crr_cols.append(c)

Columns with a `.1` have been background corrected

Extract the background-corrected fluorescence intensities for a particular well

In [22]:
d[d['Well Nb']==253][bkg_crr_cols]

,1.1,2.1,3.1,4.1,5.1,6.1,7.1,8.1,9.1,10.1,...,36.1,37.1,38.1,39.1,40.1,41.1,42.1,43.1,44.1,45.1
84,-2.984391,-3.500936,-3.040934,-3.164336,-2.762225,-2.777626,-2.375027,-2.458665,-1.858327,-1.587549,...,84.45778,113.788086,140.14575,159.53291,173.48251,182.1414,189.41588,195.12259,200.0211,205.79031

Each column is a cycle of qPCR and the value corresponds to the fluorescence intensity